form label,input,select{
    width: 30%;
}

form input[type="submit"]
{
    width: 10%;
}
form input, select{
    padding: 0.5vw 1vw;
    border-radius: 0.5vw;
}

@media screen and (max-width:800px) and (min-width:498px){
    form label,input,select{
        width: 50%;
    }

    form input[type="submit"]
    {
        width: 30%;
    }
    
    form input, select{
        padding: 0.5vw 1vw;
        border-radius: 1vw;
    }
}



@media screen and (max-width:500px) {
    form label,input,select{
        width: 90%;
    }
    
    form input[type="submit"]
    {
        width: 50%;
    }

    form input, select{
        padding: 0.5vw 1vw;
        border-radius: 1vw;
    }
}
